
// copy this to 'secrets.js' and plug in your config items.

var secrets = {};

secrets.mailgun = {
    from: '...',
    apiKey: '...',
    domain: '...'
};

secrets.stripe = {
    publishable: 'pk_test_...',
    secret: 'sk_test_...'
}

secrets.hash = '...';

module.exports = secrets;
